*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    
    background-color: #26335D;
    font-family: montserrat;
}

header{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 40px 50px;
    height: auto;
    align-items: center;
    color: #fff;
    position: fixed;
    top: 0;
    background-color: #26335D;
    z-index: 1;
}

nav{
    display: none;
}

span.ham{
    width: 25px;
    background-color: #fff;
    height: 4px;
    display: block;
    margin: 5px 0;
}

.allLinks{
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
button{
    cursor: pointer;
}
.navLinks a{
    margin-right: 2rem;
    position: relative;
    font-size: 1.2em;
}
.navLinks a::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    bottom: -10px;
    transform: scale(0);
    transition: .3s;
    transform-origin: center;

}

.navLinks a:hover::before{
    transform: scale(1);
}

.loginLinks{
    margin-left: 5rem;
}
.loginLinks a, .loginLinks a button{
   color: #fff;
   text-decoration: none;
   font-weight: 700;
}
.loginLinks a:first-child{
    padding: 9px 15px;
    transition: .3s;
    border-radius: 5px;
    border: 2px solid #8D5CF6;
}
.loginLinks a:first-child:hover{
    background-color:#fff;
    border: none;
    border-radius: 5px;
    color: #8D5CF6;
    border: 2px solid #fff;
    
}
.loginLinks a button{
    padding: 12px 15px;
    background-color:#8D5CF6;
    border: none;
    border-radius: 5px;
    color: #fff;
    transition:.3s ;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: .5rem;
}
.loginLinks a button:hover{
    color: #26335D;
    background-color: #fff;
}
.firstContent{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}
.firstPageDesc{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    justify-content: center;
}
.firstPageDesc p:first-child{
    color: #8D5CF6;
    text-transform: capitalize;
    font-size: 1.5em;
    margin-bottom: 35px;
}
.firstPageDesc h1{
    text-transform: uppercase;
    color: #fff;
    font-size: 3em;
    width: 500px;
    margin-bottom: 40px;
}
.firstPageDesc :nth-child(3){
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 30px;
}

.firstPageDesc span a{
    margin: 10px 0 ;
}

.firstPageDesc span a:first-child{
    margin-right: 10px;
}

.firstPageDesc span a button{
    padding: 15px 25px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color:#8D5CF6;
    text-transform: capitalize;
    transition: .3s;
}
.firstPageDesc span a button:hover{
    transform: scale(1.05);
}
.firstPageDesc span a button:active{
    transform: scale(.98);
}

.firstPageDesc span a:nth-child(2) button{
    background-color: #26335D;
    border: 1px solid #8D5CF6;
    position: relative;
}

.firstPageDesc span a:nth-child(2) button:hover::before{
   
}

.boyImage{
    background-image:url(./assets/boy.png) ;
    width: 500px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Second page starts here */

.secondPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

#frame{
    width: 800px;
    height: 400px;
}

.secondPage p:first-child, .secondPage h1{
    text-transform: capitalize;
    margin-bottom: 50px;
}

.secondPage p:first-child{
    color: #8D5CF6;
}

.secondPage :nth-child(3), .secondPage h1{
    color: #fff;

}

.secondPage :nth-child(3){
    margin-bottom: 100px;
}
.textB4Card{
    color: #fff;
    margin-top: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px 0;
    margin-bottom: 80px;
}
.textB4Card h4{
    color: #8D5CF6;
}

.textB4Card p{
    width: 70vw;
    text-align: center;
}
.cardInfoWrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
}


.cardWrapper{
    background-color: #fff;
    padding: 20px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    border-radius: 20px;
}
.cardWrapper img{
    margin: 20px 0;
}

.imgWrapper{
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.imgBack{
    width: 70px;
    height: 70px;
    background-color: #E74040;
    position: absolute;
    border-radius: 100%;
    opacity: .1;
    right: 50%;
    margin-right: -170px;
    left: 50%;
    top: 50%;
    margin-bottom: -38px;
    bottom: 50%;
    transform: translate(-50%, -50%);

}
.imgWrapper::before{
    content: "";
    display: block;
    width: 30%;
    background-color: #E74040 ;
    height: 3px;
    position: absolute;
    bottom: -110px;
    right: 50%;
    margin-right: -173.047px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cardWrapper h1{
    margin: 40px 0 20px 0;
    font-weight: 800;
}
.cardInfoWrapper p{
    margin-bottom: 30px;
    width: 190px;
    margin-top: 50px;
}
.affordable{
    margin-top: 250px;
}
.affordable span{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 100px;
}
.affordable span div h1,
.affordable span div p{
    color: #fff;
    margin-bottom: 40px;
}
.affordable span div h1{
    font-size: 2.5em;
    letter-spacing: 1px;
}
.affordable span div h1::before{
    display: block;
    content: "";
    height: 5px;
    background-color: #E74040;
    width: 100px;
    margin-bottom: 35px;
}
.affordable span div p{
    letter-spacing: .5px;
}
.affordable span div a{
    color: #8D5CF6;
}
.girlImage{
    background-image: url(./assets/girl.png);
    height: 500px;
    background-repeat: no-repeat;
    width: 500px;
    background-size: contain;
}

.card2Flexer{
    display: flex;
    justify-content: center;
    gap: 0 40px;
}

.cardItself{
    width: 400px;
    background-color: #fff;
    border-radius: 20px;
    height: auto;
}

.imageWithIcon{
    position: relative;
}
.iconic{
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.iconic i{
    transition: .3s;
    cursor: pointer;
}
.iconic i:hover{
    background-color: #26335D;
    color: #fff;
}
.iconic i{
    background-color: #fff;
    padding: 15px ;
    border-radius: 100%;
}
.imageWithIcon img{
    width: 400px;
    height: 300px;
    border-radius: 20px 20px 0 0;
    background-size: contain;
}
.cardItself span{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.starAndRate{
    display: flex;
    background-color: #26335D;
    color: #fff;
    padding: 4px 8px;
    border-radius: 15px;
}
.padWrap{
    padding: 0 30px 30px 30px;
    color: black;
}
.padWrap h3{
    margin-bottom: 20px;
}
.padWrap div{
    display: flex;
    gap: 10px;
}
.padWrap :nth-child(3){
    margin-top: 25px;
}
.padWrap a{
    color: #8D5CF6;
    border: 2px solid #8D5CF6;
    padding: 10px 15px;
    border-radius: 40px;
    transition: .3s;
}
.padWrap a:hover{
    background-color: #8D5CF6;
    color: white;
}
div.money{
    margin: 30px 0;
    font-weight: 700;
}
.fa-download{
    color: gray;
}
div.money :first-child{
    color: grey;
}
div.money :last-child{
    color: #E74040;
}
.card3Flexer{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
}
.card3Flexer :nth-child(1) .abs,
.card3Flexer :nth-child(3) .abs{
    display: none;
}

.abs{
    position: absolute;
    background-color: #E77C40;
    height: 29px;
    width: 29px;
    padding: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -25px;
    right: -25px;
    color: #fff;
    font-size: 24px;
}

.card3InfoWrapper{
    background-color: #fff;
    width: 350px;
    padding: 50px 20px;
    display:flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}
.loveBackgroundWrapper{
    height: 96px;
    width: 96px;
    background-color: #8D5CF6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.loveBackgroundWrapper i{
    font-size: 48px;
    color: #fff;
}
.card3InfoWrapper a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card3InfoWrapper .gray{
    color: #737373;
}
.card3InfoWrapper h1{
    color: #8D5CF6;
}
.card3InfoWrapper h1 p{
    color:#8EC2F2 ;
    font-size: 14px;
}
.card3InfoWrapper button{
    padding: 15px 40px;
    border: none;
    background-color: #8D5CF6;
    color: #fff;
    font-family: montserrat;
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
}
.checkList{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.checkList span{
    display: flex;
    align-items: center;
}
.checkList span i{
    color: #2DC071;
    font-size: 32px;
    margin-right: 5px;
}
.checkList span .grey{
    color: #737373;
}
.card4Wrapper{
    background-image: linear-gradient(to top right,#26335D ,#4e62a3,#8D5CF6) ;
    width: 450px;
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.card4Flexer{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card4Wrapper img{
    border-radius: 100%;
    width: 128px;
    height: 128px;
}
.anWrap{
    width: 100%;
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 30px 0 30px;
}
.anWrap p:first-child{
    width: 250px;
    text-align: center;
}
.starz{
    padding: 15px 0;
    gap: 5px;
    display: flex;
}
.starz i{
    color: gold;
    font-size: 22px;
}
.anWrap h3{
    margin-bottom: 10px;
}
.anWrap p:last-child{
    font-weight: 700;
}
@media screen and  (max-width:1200px)  {
    header{
        align-items: flex-start;
        position: fixed;
        box-shadow:.5px .5px .5px #fff;
        padding: 30px 40px;
    }
    header a{
        text-decoration: none;
        font-size: 1.5em;
    }

    .allLinks a{
        margin-bottom: 30px;
    }
    .allLinks{
        flex-direction: column;
        margin-top: 20px;
        position: absolute;
        left: -100%;
        margin-left: -48px;
        top: 20%;
    }

    .allLinks.active{
        left: 50% ;
        transition: .5s;
    }
    nav{
        display: block;
        cursor: pointer;
    }
    .navLinks a{
        margin-right: 0;
    }
    .loginLinks a button{
        margin-left: 0;
    }
    nav.active{
        height: 70vh;
        transition: .3s;
        margin-bottom: 10vh;
    }
    nav.active span.ham:nth-child(2){
        opacity: 0;
    }
    nav.active span.ham:nth-child(1){
        transform:translateY(10px) rotate(45deg) ;
        transition: .3s;
    }
    nav.active span.ham:nth-child(3){
        transform: translateY(-8px)rotate(-45deg) ;
        transition: .3s;
    }
    .navLinks{
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
    }
    
    .loginLinks{
        margin-left: 0;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .loginLinks a{
        
    }
    
    .navLinks a::before{
        height: 0;
    }
    .navLinks a:active{
        transform: scale(.9);
    }
    .firstContent{
        margin: 100px 30px 0 30px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .boyImage{
        width: 60%;
        height: 50vh;
        background-size: cover;
    }
    .firstPageDesc{
        margin-top: 80px;
    align-items: center;
    }
    .firstPageDesc :nth-child(2){
        font-size: 1.5em;
    }
    .firstPageDesc :nth-child(3){
        font-size: 1.1em;
    }
    
    .firstPageDesc h1{
        text-transform: uppercase;
        color: #fff;
        font-size: 2em;
        text-align: center;
    }
    .firstPageDesc span a button{
        padding: 25px 55px;
        border: none;
        border-radius: 4px;
        color: #fff;
        background-color:#8D5CF6;
        text-transform: capitalize;
        transition: .3s;
        font-size: 1em;
    }
    
    .firstPageDesc span a:nth-child(2) button{
        background-color: #26335D;
        border: 1px solid #8D5CF6;
    }
    .secondPage{
        margin: 50px 70px;
    }
    .secondPage iframe{
        width: 500px;
    }
    .secondPage p:first-child, .secondPage h1{
        margin:50px 0 20px 0;
    }
    .secondPage :nth-child(3){
        margin-bottom: 20px;
    }
    #frame{
        width: 800px;
        height: 400px;
    }
    .card3Flexer{
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
    }
    .card3InfoWrapper{
        width: 500px;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        padding: 40px;
        gap: 10px;
    }
    .card4Flexer{
        flex-direction: column;
        align-items: center;
        row-gap: 90px;
    }
}

@media screen and (max-width:950px){
    header{
        padding: 20px 40px;
    }
    #frame{
        width: 700px;
    }
    .cardInfoWrapper{
        flex-direction: column;
        align-items: center;
    }
    .affordable span{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .girlImage{
        margin-bottom: 40px;
        width: 300px;
        height: 300px;
        background-size: cover;
    }
    .card2Flexer{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .cardItself{
        width: 500px;
    }
    
    .imageWithIcon img{
        width: 500px;
        height: 300px;
    }
    .padWrap h3{
        margin-bottom: 10px;
    }

    .padWrap :nth-child(3){
        margin-top: 15px;
    }
    .card3Flexer{
        flex-direction: column;
        align-items: center;
        row-gap: 70px;
    }
    .card3InfoWrapper{
        width: 400px;
    }
    
    
}

@media screen and (max-width:650px){

    #frame{
        width: 400px;
    }
    .cardItself{
        width: 300px;
    }
    
    .imageWithIcon img{
        width: 300px;
        height: 200px;
        background-size: contain;
    }
    .padWrap h3{
        margin-bottom: 10px;
    }

    .padWrap :nth-child(3){
        margin-top: 10px;
    }
    .padWrap a{
        color: #8D5CF6;
        border: 2px solid #8D5CF6;
        padding: 5px 9px;
        border-radius: 40px;
        transition: .3s;
    }
    div.money{
        margin: 20px 0;
    }
    .card3Flexer{
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }
    .card3InfoWrapper{
        width: 350px;
    }
    .loveBackgroundWrapper{
        height: 49px;
        width: 49px;
    }
    .loveBackgroundWrapper i{
        font-size: 30px;
    }
    .card3InfoWrapper button{
        padding: 10px 40px;
        font-size: 14px;
    }
    .checkList span i{
        color: #2DC071;
        font-size: 20px;
        margin-right: 5px;
    }

    .card4Wrapper{
        width: 80%;
        padding: 20px;
        padding: 50px 0;
    }
    .card4Flexer{
        display: flex;
        justify-content: center;
        gap: 80px;
    }
    .card4Wrapper img{
        border-radius: 100%;
        width: 100px;
        height: 100px;
}

.anWrap p:first-child{
    width: 350px;
}
}
